.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
../node_modules/**
**/node_modules/**
**/.git/**
**/.github/**
**/tests/**
**/test/**
**/coverage/**
**/.nyc_output/**
**/dist/cli.js
**/dist/index.js
**/dist/index.d.ts
**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts